In [10]:
from gerar_planilha import *

planilha_arquivos = f'Arquivos/{nome_da_conta}/{id_do_vendedor}-planilha-produtos.xlsx'
planilha_base = f'Arquivos/planilha_base.xlsx'

if not os.path.exists(planilha_arquivos):
    gerar_planilha()
    time.sleep(1)


df_produtos = pd.read_excel(planilha_arquivos)

# print(df_produtos)

#df_filtrado = df_produtos.loc[0:, ['attributes', 'available_quantity', 'id', ]]

# print(df_filtrado)

# df_filtrado

# df_teste = df_filtrado.groupby("attributes").count()
# df_teste

# df_produtos.info()

In [26]:
colunas_escolhidas = ['attributes', 'available_quantity', 'id']
df_estoque_mlb = df_produtos[lista_colunas]
df_estoque_mlb

# df_teste = df_estoque_mlb.grupby('attributes').count()
# df_teste

     attributes  available_quantity             id
0          1299                   2  MLB3436654483
1          1299                   2  MLB3441365789
2          1165                   1  MLB3485204621
3           323                  41  MLB1571997717
4         467-3                   6  MLB2694637026
...         ...                 ...            ...
1541        951                  14  MLB3079977297
1542       1145                   1  MLB3824741064
1543       1085                  90  MLB3345912473
1544        247                   3   MLB999732276
1545        717                   5  MLB3404757809

[1546 rows x 3 columns]